body {
    background-color: #272822;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
    color: #F92672;
    text-align: center;
    font-size: 2.5rem;
}
footer {
    color: #66D9EF;
    text-align: center;
}

input {
    font-size: 5vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #E6DB74;
    background-color: #1E1F1C;
    width: 100%;
    border: 0px;
    text-align: center;
    height: 25vh;
    
}
hr {
    color: #414339;
}
ul {
    list-style-type: none;
    list-style-position: inside;
    margin: 0;
    padding: 0;
}
:focus::-webkit-input-placeholder {color: transparent}
:focus::-moz-placeholder          {color: transparent}
:focus:-moz-placeholder           {color: transparent}
:focus:-ms-input-placeholder      {color: transparent}
span {
    color:#A2E22E;
}
li {
    text-align: center;
    position: relative;
}

/*span positioning*/
#cel {
    position: absolute;
    right: 3%;
    top: 48%;
}
#fahr {
    position: absolute;
    right: 3%;
    top: 48%;
}
#kel {
    position: absolute;
    right: 3%;
    top: 48%;
}